global_defs {
      enable_script_security
}

vrrp_track_process check_haproxy {
    process haproxy
    quorum 1
    delay 2
}

vrrp_instance AGAMA {
    interface ens3
    virtual_router_id 2
    {% if inventory_hostname == 'server1' %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1
    virtual_ipaddress {
        {% if (hostvars[groups['ubuntu'][0]]['ansible_default_ipv4']['address'] | split('.'))[2] == "43" %}
        192.168.101.{{hostvars['server1']['ansible_default_ipv4']['address'].split('.')[3]}}/24
        {% else %}
        192.168.100.{{hostvars['server1']['ansible_default_ipv4']['address'].split('.')[3]}}/24
        {% endif %}
    }
    unicast_peer {
        {% for vm in groups['haproxy']  %}
        {% if inventory_hostname  != vm %}
          {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_process {
        check_haproxy
    }
}