action(type="omfwd" Protocol="udp" Target="server1.{{domain_name}}" Port="6514" Template="RSYSLOG_SyslogProtocol23Format")
action(type="omfwd" Protocol="udp" Target="server2.{{domain_name}}" Port="6514" Template="RSYSLOG_SyslogProtocol23Format")
action(type="omfwd" Protocol="udp" Target="server3.{{domain_name}}" Port="6514" Template="RSYSLOG_SyslogProtocol23Format")