acl networks {
    {{lan}};
    {{localhost}};
};

options {
    directory "/var/cache/bind";

    allow-query { networks; };
    dnssec-validation no;
    recursion yes;
    allow-recursion { networks; };

    forwarders {
        {% for fow in dns_forwarders %}
        {{fow}};
        {% endfor %}
    };

    listen-on port 53 { 127.0.0.1; {{dns_listen}}; };

};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
