[Unit]
Description=pinger service
Documentation=https://github.com/romankuchin/ica0002-2022/blob/main/08-logging/08-files/pinger.service
After=network-online.target

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target