global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
  external_labels:
    monitor: example

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093
    scheme: http
    timeout: 10s
    api_version: v1

scrape_configs:

- job_name: linux
  static_configs:
    - targets:
{% for vm in groups['all'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['linux']['port'] }}
{% endfor %}

- job_name: bind9
  static_configs:
    - targets:
{% for vm in groups['dns_servers'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['bind9']['port'] }}
{% endfor %}

- job_name: nginx
  static_configs:
    - targets:
{% for vm in groups['ubuntu'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['nginx']['port'] }}
{% endfor %}

- job_name: mysql
  static_configs:
    - targets:
{% for vm in groups['db_servers'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['mysql']['port'] }}
{% endfor %}

- job_name: haproxy
  static_configs:
    - targets:
{% for vm in groups['haproxy'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['haproxy']['port'] }}
{% endfor %}

- job_name: keepalived
  static_configs:
    - targets:
{% for vm in groups['haproxy'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['keepalived']['port'] }}
{% endfor %}

- job_name: influxdb
  static_configs:
    - targets:
{% for vm in groups['influxdb'] %}
      - {{ vm }}.{{domain_name}}:{{ prom['influxdb']['port'] }}
{% endfor %}

- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 5s
  scrape_timeout: 5s
  metrics_path: /prometheus/metrics
  scheme: http
  static_configs:
  - targets:
    - localhost:{{prom_port}}